.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.text-align-center {
  text-align: center;
}

.bc0D0016 {
  background-color: #0D0016;
}

.bcFE2C24 {
  background-color: #FE2C24;
}

.bcFF9900 {
  background-color: #FF9900;
}

.bcFFD900 {
  background-color: #FFD900
}
.bc38D8F0 {
  background-color: #38D8F0
}

.bc4DA8EE {
  background-color: #4DA8EE
}

.bc956FE7 {
  background-color: #956FE7
}
.bcF3F3F4 {
  background-color: #F3F3F4
}

.bcCCCCCC {
  background-color: #CCCCCC
}

.bcFEF2F0 {
  background-color: #FEF2F0
}

.bcFFF5E6 {
  background-color: #FFF5E6
}
.bcFEFCD8 {
  background-color: #FEFCD8
}
.bcEDF6E8 {
  background-color: #EDF6E8
}

.bcE7FAFA {
  background-color: #E7FAFA
}

.bcEAF4FC {
  background-color: #EAF4FC;
}

.bcEFEDF6 {
  background-color: #EFEDF6;
}

.bcD7D8D9 {
  background-color: #D7D8D9;
}

.bcA5A5A5 {
  background-color: #A5A5A5;
}

.bcFBD4D0 {
  background-color: #FBD4D0;
}

.bcFFD7B9 {
  background-color: #FFD7B9;
}
.bcF9EDA6 {
  background-color: #F9EDA6;
}

.bcD4E9D5 {
  background-color: #D4E9D5;
}
.bcC7E6EA {
  background-color: #C7E6EA;
}

.bcCBE0F1{
  background-color: #CBE0F1;
}
.bcDAD5E9 {
  background-color: #DAD5E9;
}
.bc7B7F82 {
  background-color: #7B7F82;
}
.bc494949 {
  background-color: #494949;
}
.bcED7976{
  background-color: #ED7976;
}
.bcFAA572{
  background-color: #FAA572;
}
.bcE6B223 {
  background-color: #E6B223;
}
.bc98C091{
  background-color: #98C091;
}
.bc79C6CD{
  background-color: #79C6CD;
}
.bc6EAAD7{
  background-color: #6EAAD7;
}

.bc9C8EC1{
  background-color: #9C8EC1;
}
.bc333333{
  background-color: #333333;
}
.bcBE191C{
  background-color: #BE191C;
}
.bcB95514{
  background-color: #B95514;
}
.bcAD720D{
  background-color: #AD720D;
}
.bc1C7331{
  background-color: #1C7331;
}
.bc1C7892{
  background-color: #1C7892;
}
.bc1A439C{
  background-color: #1A439C;
}
.bc511B78{
  background-color: #511B78;
}
