@import '../node_modules/antd/dist/antd.css';
@import '../node_modules/antd/dist/antd.css';
@import 'https://at.alicdn.com/t/font_3391600_fmn3duq8k2.css?spm=a313x.7781069.1998910419.122&file=font_3391600_fmn3duq8k2.css';
.App {
}

.App .DraftEditor-root {
  width: 80%;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  height: calc( 100vh - 140px );
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #000;
}