@import '../node_modules/antd/dist/antd.css';
@import '../node_modules/antd/dist/antd.css';
@import 'https://at.alicdn.com/t/font_3391600_yntl6tpmc5r.css?spm=a313x.7781069.1998910419.92&file=font_3391600_yntl6tpmc5r.css';
.App {
}

.DraftEditor-root {
  width: 80%;
  margin: auto;
  min-height: 6em;
  border: 1px solid #000;
}